{% extends 'base.html' %}

{% block content %}
  <h2>Ráérés megadása</h2>
  <p>
    {% if request_error %}
    {{ request_error }}
    {% endif %}
  </p>
  <form method="post">
    {% csrf_token %}
    <p>{{ week }}. hét<p>
    <table>
      <tr>
        <th>Nap</th>
        <th>Műszak</th>
        <th>Óra</th>
      </tr>
      {% for form in daily_request_forms %}
        <tr>
          {% for field in form %}
            <td>{{ field }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
    <button type="submit">Elküld</button>
  </form>
{% endblock %}