{% extends 'base.html' %}

{% block content %}
  <h2>Ráérés megadása</h2>
  <form method="post">
    {% csrf_token %}
    <p>
      {% if request_error %}
      {{ request_error }}
      {% endif %}
    </p>
    {{ weekly_request_form }}
    <table>
      <tr>
        <th>Nap</th>
        <th>Műszak</th>
        <th>Óra</th>
      </tr>
      {{ daily_request_forms.management_form }}
      {% for form in daily_request_forms %}
        <tr>
          {% for field in form %}
            <td>{{ field }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
      {{ daily_request_forms.non_form_errors }}
    </table>
    <button type="submit">Kész</button>
  </form>
{% endblock %}