{% extends 'base.html' %}

{% block content %}
  {% if form_error %}
    <p style="color:red">{{ form_error }}</p>
  {% endif %}
  {% if daily_shift_forms %}
    <form action="{% url 'beo_admin:finalize_shifts' %}" method="post">
      {% csrf_token %}
      <button type="submit">Közzétesz</button>
    </form>
  {% endif %}
  {% for daily_shift_form in daily_shift_forms %}
  <div class="floated_divs" style="float:left">
      <form action="{% url 'beo_admin:create_shifts' %}" method="post">
      {% csrf_token %}
      {{ daily_shift_form.management_form }}
      {{ daily_shift_form.as_ul}}
      <button type="submit">Módosít</button>
    </form>
  </div>
  {% endfor %}
{% endblock %}